<link rel="stylesheet" href="/assets/CSS/menu.css" type="text/css">


<div class="container">
    <aside id="sidebar">
        <div class="profile">
            <span class="status">Disponível</span>
            <img src="/assets/images/mayara.png" alt="Foto de perfil" class="profile-img">
            <h4>Mayara C Mafioletti</h4>
        </div>
        <nav class="menu">
            <a href="/index.html" class="menu-item"><i class="fas fa-home"></i> Início</a>
            <a href="#" class="menu-item"><i class="fa fa-folder"></i> Projetos</a>
            <a href="#" class="menu-item"><i class="fa fa-user"></i> Sobre</a>
            <a href="#" class="menu-item"><i class="fas fa-file-alt"></i> Currículo</a>
            <a href="#" class="menu-item"><i class="fas fa-envelope"></i> Contato</a>
        </nav>
        <div class="social">
            <a href="https://www.linkedin.com/in/mayara-mafioletti/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/mayaramafioletti"><i class="fab fa-github"></i></a>
            <a href="mailto:mayaramafioletti@gmail.com"><i class="fas fa-envelope"></i></a>
        </div>
    </aside>
    <main class="content">
        <div id="home-container"></div>
    </main>
<script src="/assets/js/home.js"></script>

</div>